#result {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }
  
#center{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    color: rgb(24, 166, 254);
  }
  
#text1{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    font-size: 1.5rem;
    color: black;
  }
  
#text2{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    font-size: 1.5rem;
    color: black;
  }
  